<!-- Простые миниатюры -->
@if (assets().length > 0) {
  <div class="flex flex-col gap-2 w-20">
    @for (asset of assets(); track asset.id) {
      <div 
        class="cursor-pointer border-2 rounded-lg overflow-hidden"
        [class.border-blue-500]="selectedAssetUrl() === asset.url"
        [class.border-gray-200]="selectedAssetUrl() !== asset.url"
        (click)="selectAsset(asset.url)">
        <img 
          src="{{asset.thumbnailUrl || asset.url}}" 
          alt="thumbnail" 
          class="w-full h-16 object-cover" />
      </div>
    }
  </div>
}